DiscordBot\bin\Debug\data.credentials.txt
DiscordBot\bin\Debug\data.telegram.txt
DiscordBot\bin\Release\data.credentials.txt
DiscordBot\bin\Release\data.telegram.txt
DiscordBot/bin/Debug/data.credentials.txt
DiscordBot/bin/Debug/data.telegram.txt
DiscordBot/bin/Release/data.credentials.txt
DiscordBot/bin/Release/data.telegram.txt
/DiscordBot/bin/Release/data.credentials1.txt
/DiscordBot/bin/Debug/data.credentials1.txt
/Telegram/
